<% layout('/layouts/boilerplate') %>

<div class="wrapper">
    <h1>Images</h1>
    <div class="img-area">
        <% for (let image of images) { %>
        <div class="single-img">
            <img src="<%= image.url %>" width="600" height="400" alt="<%= image.title %>">
        </div>
        <% }; %>
    </div>
</div>