<% layout('/layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center mb-3">New Image(s)</h1>
    <div class="col-6 offset-3">
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="file" name="image" accept=".jpg,.png,.jpeg,.gif" id="" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="image[title]" required>
            </div>
            <div class="mb-3">
                <label class="form-label for="description">Description</label>
                <!-- <input class="form-control type="text" id="description" name="image[description]" required> -->
                <textarea class="form-control" id="description" name="image[description]" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Image</button>
            </div>
        </form>
    </div>
</div>