<% layout('/layouts/boilerplate') %>

<h1>New Image(s)</h1>

<form action="/images" method="POST">
    <div>
        <label for="url">URL</label>
        <input type="text" id="url" name="image[url]">
    </div>
    <div>
        <label for="privacy">Private Image(s)</label>
        <select name="private" id="private">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <button>Add Image</button>
</form>

<div>
    <a href="/images">Back</a>
</div>