<% layout('/layouts/boilerplate') %>

<h1>Private Images</h1>

<div>
    <a href="/">Sign Out</a>
</div>

<ul>
    <% for (let image of images) { %>
        <li><%= image.url %></li>
    <% } %>
</ul>