<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Images</title>
</head>
<body>
    <div>
        <a href="/images/private">Private</a>
    </div>
    <div>
        <a href="/images/new">Upload Image</a>
    </div>
    <h1>Public Images</h1>
    <ul>
        <% for (let image of images) { %>
            <li><%= image.url %></li>
        <% } %>
    </ul>
</body>
</html>