<footer class="footer bg-success py-3 mt-auto">
    <div class="bg3" style="margin-top: 20px;">
        <div id="contact">
            <div style="text-align: center;">
                <a target="_blank" href="https://github.com/VJ-P"><i class='fab fa-github icon'></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/vijaypat/"><i class='fab fa-linkedin-in icon'></i></a>
                <a target="_blank" href="mailto:patelv60@mcmaster.ca"><i class='fas fa-envelope icon'></i></a>
            </div>
            <p style="text-align: center; color:white; margin-bottom:0px; padding-bottom:20px;">Copyright <span>&#169;</span> 2021 Vijay Patel</p>
        </div>
    </div>
</footer>