.icon{
    color: #ffffff;
    font-size:60px;
    margin: 2% 2%;
  }

.icon:hover{
    color: #cccccc;
}

.wrapper h1 {
    text-align: center;
    padding-bottom: 1em;
}

.img-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-img {
    padding: 0 20px 40px;
}

img:hover{
    opacity: .5;
    transition: .9s;
}

h1 {
    font-family: 'Lobster', cursive;
}